*.exe
*.pdb
*.txt
*.config
*.inf
*.manifest
*.cache
/MiveArchiver/bin/Debug/*
/MiveArchiver/obj/Debug/*
/MiveArchiver/bin/Debug/MiveArchiver.exe
/MiveArchiver/bin/Debug/MiveArchiver.pdb
/MiveArchiver/obj/Debug/MiveArchiver.csproj.FileListAbsolute.txt
/MiveArchiver/obj/Debug/MiveArchiver.csprojResolveAssemblyReference.cache
/MiveArchiver/obj/Debug/MiveArchiver.exe
/MiveArchiver/obj/Debug/MiveArchiver.pdb
/.vs/MiveArchiver/v15/.suo
/.vs/MiveArchiver/v15/Server/sqlite3/db.lock
/.vs/MiveArchiver/v15/Server/sqlite3/storage.ide
/.vs/MiveArchiver/v15/Server/sqlite3/storage.ide-shm
/.vs/MiveArchiver/v15/Server/sqlite3/storage.ide-wal

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/MiveArchiver/bin/Debug/MiveArchiver.exe
/MiveArchiver/bin/Debug/MiveArchiver.pdb
/MiveArchiver/obj/Debug/MiveArchiver.csproj.FileListAbsolute.txt
/MiveArchiver/obj/Debug/MiveArchiver.csprojResolveAssemblyReference.cache
/MiveArchiver/obj/Debug/MiveArchiver.exe
/MiveArchiver/obj/Debug/MiveArchiver.pdb
